body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.colored-background {
    background-color: rgb(223, 237, 242);
}
.top-header {
    display: flex;
    flex-direction: column;
    margin: 0 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    width: 150px;
    font-size: 10px;
    color: dimgray;
    margin-top: 1rem;
    margin-left: 10px;
}

.top-header-link-block ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    /* margin-right: 10rem; */
}

.top-header-link-block ul a {
    text-decoration: none;
    color: darkturquoise;
    margin-right: 10px;
}

.top-header-part2 {
    display: flex;
    flex-direction: column;
    margin: 0 10rem;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 30px;
    font-size: 24px;
    font-weight: 800;

}

p {
    width: 300px;
}

span {
    font-size: 10px;
    color: grey;
    padding-top: 5px;
}

.part2-left {
    display: flex;
    flex-direction: column;
    width: 300px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    height: 20px;
    width: 70px;
    margin-top: 5px;
    border-radius: 5px;
}

.part2-right {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-height: 100px;
    margin-bottom: 50px;
}

.image-placeholder {
    background-color: rgb(167, 167, 167);
    color: white;
    font-size: 10px;
    padding: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.featured-items {
    display: flex;
    flex-direction: row;
    height: 200px;
    /* gap: 15px; */
    justify-content: center;
    /* margin: 0 10rem; */
}

.photos {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    font-size: 10px;
    color: dimgray;
    /* gap: 15px; */

}

.quote-container {
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    max-height: 100px;
    margin-bottom: 50px;
    background-color: rgb(167, 167, 167);
    color: white;
    font-size: 12px;
    padding: 50px;
    margin: 0 10rem;
    align-items: center;
}

